@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kanit:wght@300;400;500;600&family=Nunito:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Kanit", sans-serif;
  background-color: #ffe120;
}
h1,
h3,
section,
p,
span,
svg,
li {
  transition: background-color 0.2s ease-in-out, color 0.4s ease-in-out;
  transition: color 0.2s ease-in-out, color 0.4s ease-in-out;
}

:root {
  --color-text-light: #f7f7f2;
  --color-text-dark: #034b46;
  --color-text-black: rgb(15, 14, 14);
}

.light-theme {
  background-color: #fff;
  --color-background: rgb(252, 250, 250);
  --color-main-title: rgb(246, 246, 246);
  --color-p-title: #00032c72;
  --color-p: #246971de;
  --color-text: rgb(39, 38, 38);
  --color-floor: #011222cd;
}

.dark-theme {
  background-color: black;
  --color-background: rgba(43, 41, 41, 0.978);
  --color-main-title: rgb(32, 31, 31);
  --color-p-title: #00032c8a;
  --color-p: #00fae9df;
  --color-text: rgb(243, 235, 235);
  --color-text2: rgb(33, 33, 33);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
h1 {
  letter-spacing: 0.2rem;
}
p,
h3 {
  letter-spacing: 0.01rem;
}

/* Three Model  --------------------------------------------*/

.threeModel {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.threeModel-canvas {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

/* Page ---------------------------------------------------- */
.page {
  z-index: 9999999999;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.page-wrapper {
  position: relative;
}
.page:hover::before {
  opacity: 1;
}
.page::before {
  background: radial-gradient(
    150px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 254, 0.7),
    transparent 50%
  );
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  transition: opacity 500ms;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -2;
}
.page::after .page::before {
  opacity: 0;
}

/* Preloader ---------------------------------------------------- */

.preloader {
  background-color: #ebe9d6;
  width: 100%;
  height: 100vh;
  opacity: 1;
  position: fixed;
  z-index: 9999999;
}
.preloader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px;
  background-color: var(--color-text-dark);
  animation: load 1s ease-in-out infinite;
}
.circle:nth-child(2) {
  animation-delay: 0.15s;
}
.circle:nth-child(3) {
  animation-delay: 0.25s;
}

@keyframes load {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-12px);
  }
  40% {
    transform: translateY(0);
  }
}

/* Intro ---------------------------------------------------- */

.animate-this {
  display: inline-block;
  transform: translateY(100%);
}

.text-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  position: absolute;
  color: var(--color-text-dark);
  top: 50%;
  left: 50%;
  font-weight: 500;
  font-size: 1.4rem;
  transform: translate(-50%, -50%);
}

.arrow-svg-wrapper {
  position: absolute;
  /* color: var(--color-text-light); */
  border: none;
  background-color: transparent;
  color: black;
  top: 90%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation: bounce 0.5s ease-in alternate infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(8px);
  }
}

/* Section ---------------------------------------------------- */
.section-margin {
  height: 200px;
}
.section {
  height: 100vh;
  width: 100%;
  position: relative;
}

.section-first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.arrow-svg-wrapper-up {
  position: absolute;
  /* color: var(--color-text-light); */
  border: none;
  background-color: transparent;
  color: black;
  top: 90%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: transform 0.4s ease-in-out;
}
.arrow-svg-wrapper-up:hover {
  cursor: pointer;
  transform: translate(-50%, -80%) scale(1.2);
}

.title-main {
  font-size: 24rem;
  font-weight: 700;
  font-family: "Kanit", sans-serif;
  color: var(--color-main-title);
  filter: drop-shadow(3px 1px rgb(159, 249, 162))
    drop-shadow(3.5px 2px rgb(250, 247, 143))
    drop-shadow(4px 3px rgb(168, 243, 255))
    drop-shadow(4.5px 4px rgb(245, 167, 255))
    drop-shadow(20px 0.6px 10px rgba(0, 0, 0, 0.322));
}

.firstLine {
  width: 430px;
  position: absolute;
  top: -12%;
  left: 2%;
  transform: translate(-50%, -50%);
  transform: translateY(100%);
  opacity: 0;
}
.main-title-wrapper {
  width: 100%;
  height: 100%;
}

.secondLine {
  position: absolute;
  top: 27%;
  left: 12%;
  transform: translate(-50%, -50%);
  transform: translateY(100%);
  opacity: 0;
}

.title-sub {
  font-size: 4rem;
  position: absolute;
  top: 38%;
  left: 36.5%;
  font-weight: 700;
  opacity: 0;
  color: var(--color-p-title);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
  filter: drop-shadow(6px 5px 1px #0404047d);
  transform: translateX(-25%) translateY(-25%);
}
.text_1 {
  animation: text1;
}

.text_2 {
  animation: text2;
}

.text_1,
.text_2,
.text_3 {
  font-family: "Kanit", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 8s;
  animation-timing-function: steps(20, end);
  animation-iteration-count: infinite;
}

.text_1::after,
.text_2::after {
  content: "|";
  position: absolute;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes text2 {
  0%,
  50%,
  100% {
    width: 0;
  }

  60%,
  90% {
    width: 6.9em;
  }
}

@keyframes text1 {
  0%,
  50%,
  100% {
    width: 0;
  }
  10%,
  40% {
    width: 10em;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Section 2---------------------------------------------------- */
.about-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: start;
  margin-top: 50px;
}
.title-main-second {
  font-size: 4rem;
  color: var(--color-p);
  text-align: center;
  margin: 50px 0px 50px 0px;
  opacity: 0;
  transform: translateX(-50%);
}
.title2 {
  text-align: left;
  margin: 80px 0px 0 50px;
  color: var(--color-p);
}
.title2-wrapper {
  display: flex;
  flex-direction: row;
}
.title2-word2 {
  color: #ffffff;
}
.title2-word4 {
  color: #ffffff;
}
.title3 {
  text-align: left;
  margin: 180px 0px 10px 50px;
}
.title3 span:nth-of-type(even) {
  color: var(--color-p);
}
.title4 {
  text-align: left;
  margin: 150px 0px 0px 50px;
}
.title4 span:nth-of-type(even) {
  color: var(--color-p);
}
.section2 {
  font-family: "Kanit", sans-serif;
}
.summary {
  max-width: 450px;
  height: 470px;
  margin: 0 0 0 100px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%);
  opacity: 0;
}
.summary-paragraph {
  font-size: 1.4rem;
  line-height: 25px;
  word-spacing: 1rem;
  color: var(--color-text);
}
.every-second-word {
  color: var(--color-text-dark);
}
.educational-skills {
  color: var(--color-text);
  font-size: 1.4rem;
  line-height: 25px;
  word-spacing: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  height: 470px;
  margin: 0 100px 0 0;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  transform: translateX(+50%);
  opacity: 0;
}

.educational-about {
  margin: 0 0 20px 0;
}
.educational-table {
  color: var(--color-text-dark);
  list-style: circle;
  padding: 25px;
  font-size: 1.15rem;
  font-weight: bold;
}
.object {
  margin: 0 auto;
}
/* Toggle ---------------------------------------------------- */

.toggle-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 48px;
  right: 48px;
  opacity: 0;
  z-index: 999;
}

.sun-wrapper,
.moon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toggle-button {
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-text-light);
  border-radius: 999px;
  margin: 0px 8px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toggle-circle {
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-text-dark);
  transition: all 0.3s ease-in-out;
}

.toggle-button:hover .toggle-circle {
  transform: scale(0.8);
}

.slide {
  left: 30px;
}

.svg-toggle {
  color: var(--color-text);
}

/* Cards ---------------------------------------------------- */
.container {
  overflow: hidden;
}

.card-carousel {
  --card-width: 80%;
  /* --card-max-width: 380px; */
  --card-max-width: 350px;
  /* --card-height: 520px; */
  --card-height: 480px;
  /* --carousel-min-width: 600px; */
  --carousel-min-width: 300px;
  z-index: 1;
  position: relative;
  /* margin: 0 auto; */
  margin: 50px 100px 0 0;
  width: 100%;
  opacity: 0;
  transform: translateX(50%);
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter 0.5s ease;
}

@media screen and (max-width: 640px) {
  .card-carousel {
    margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2);
  }
}

.card-carousel.smooth-return {
  transition: all 0.2s ease;
}

.card {
  position: absolute;
  width: 350px;
  height: 450px;
  border-radius: 100px;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.169);
  overflow: hidden;
  transition: inherit;
  filter: brightness(0.8);
  margin: 0 auto;
  background-color: var(--color-background);
  font-family: sans-serif;
}
.card:hover {
  cursor: grabbing;
}
.card.highlight {
  filter: brightness(1);
}
.card-content {
  color: var(--color-p);
}
.card-top {
  position: relative;
  height: 55%;
}

.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;
}

.card-img img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.card-img img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

.card-img:hover img:first-child {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

.card-img:hover img:last-child {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

.card-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
  font-size: 30px;
  color: var(--color-text);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.card:hover .card-hover {
  opacity: 1;
}

.card-header {
  font-size: 28px;
  margin: 10px 0 0 10px;
}
.card-summary {
  font-size: 18px;
  margin: 10px;
  text-align: justify;
}

.card-tech {
  margin: 10px;
}

.card-tech ul {
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
}

.card-tech li {
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
  border-radius: 25px;
  background-color: var(--color-p);
  color: var(--color-text);
  font-size: 12px;
}
.card-links {
  position: absolute;
  top: 85%;
  left: 30%;
  transform: translateX(-10%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 50px;
}

.card-links a {
  margin: 10px;
  display: inline-block;
  color: var(--color-p);
}

.card-links a:hover {
  filter: brightness(3);
}
.card-links a:hover i {
  transform: scale(1.3);
}
.card-links i {
  font-size: 32px;
  transition: all 0.2s ease-in-out;
}

.carousel-next {
  position: absolute;
  color: var(--color-p);
  font-size: 48px;
  right: 15%;
  top: 45%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.carousel-prev {
  position: absolute;
  color: var(--color-p);
  font-size: 48px;
  right: 85%;
  top: 45%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.bounceLeft {
  animation: bounceLeft 0.3s ease-in-out alternate;
}
.bounceRight {
  animation: bounceRight 0.3s ease-in-out alternate;
}

@keyframes bounceLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bounceRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Contact ---------------------------------------------------- */

.contact-links {
  display: flex;
  flex-direction: column;
  margin: 50px 100px;
  justify-content: space-around;
  align-items: start;
}
.contact-links a {
  opacity: 0;
  transform: translateY(80%);
}

.contact-links a i {
  font-size: 80px;
  color: var(--color-p);
}

.contact-links a:hover {
  filter: brightness(2);
  animation: rotate3DAnimation 0.5s ease-in-out forwards;
}

@keyframes rotate3DAnimation {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Media Queries ---------------------------------------------------- */
@media (max-width: 699px) {
  /*                        First section                              */
  .intro-text {
    font-size: 1.3rem;
  }
  .section-margin {
    height: 150px;
  }
  .title-main {
    font-size: 12rem;
  }
  .firstLine {
    width: 100vw;
    top: 1%;
    left: 25%;
  }
  .secondLine {
    top: 50%;
    left: 1%;
  }
  .title-sub {
    font-size: 2rem;
    top: 55%;
    left: 32%;
  }

  /*                        Second section                              */

  .title-main-second {
    font-size: 2.5rem;
    margin: 100px 0px 10px 30px;
  }
  .summary {
    max-width: 300px;
    width: 220px;
    height: 400px;
    padding: 20px;
    margin: 0 0 0 50px;
  }
  .summary-paragraph {
    font-size: 1.2rem;
    line-height: 18px;
    word-spacing: 0.2rem;
  }
  .educational-skills {
    font-size: 1.2rem;
    line-height: 18px;
    word-spacing: 0.2rem;
    max-width: 300px;
    width: 220px;
    height: 400px;
    padding: 20px;
    margin: 0 50px 0 0;
  }
  .educational-about {
    margin: 0;
  }

  /*                        Third section                              */

  .card-carousel {
    --card-width: 50%;
    --card-max-width: 250px;
    --card-height: 380px;
    margin: 50px 0px 0 0px;
  }

  .card {
    position: absolute;
    width: 250px;
    height: 350px;
  }
  .card-header {
    font-size: 18px;
    margin: 5px 0 0 5px;
  }
  .card-summary {
    font-size: 16px;
    margin: 2px;
    text-align: center;
  }
  .card-tech {
    margin: 5px;
  }
  .card-links {
    left: 25%;
  }
  .card-links i {
    font-size: 18px;
    transition: all 0.2s ease-in-out;
  }
}

/*                          Small Screen                                */
@media (max-width: 399px) {
  /*                        First section                              */
  .toggle-bar {
    left: 15%;
    top: 5%;
  }
  .arrow-svg-wrapper {
    top: 85%;
  }
  .intro-text {
    font-size: 1.4rem;
  }
  .section-margin {
    height: 50px;
  }
  .section3-margin {
    height: 300px;
  }
  .main-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .title-main {
    font-size: 7rem;
  }
  .firstLine {
    width: 100%;
    top: 10%;
    left: auto;
    text-align: center;
  }
  .secondLine {
    font-size: 6.5rem;
    top: 60%;
    left: auto;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .title-sub {
    font-size: 1.5rem;
    position: absolute;
    right: 50%;
    top: 55%;
  }

  /*                        Second section                              */

  .title-main-second {
    font-size: 3rem;
    margin: 200px 0px 0px 10px;
  }
  .title2 {
    font-size: 2.5rem;
  }
  .about-wrapper {
    display: flex;
    flex-direction: column;
  }
  .about-paragraph {
    max-width: 300px;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  .summary {
  }
  .summary-paragraph {
    font-size: 1.4rem;
    line-height: 18px;
    word-spacing: 0.2rem;
  }
  .educational-skills {
    font-size: 1.2rem;
    line-height: 18px;
    word-spacing: 0.2rem;
  }

  /*                        Third section                              */

  .card-carousel {
    --card-width: 50%;
    --card-max-width: 300px;
    --card-height: 400px;
    margin: 50px 0px 0 0px;
  }

  .card {
    position: absolute;
    width: 300px;
    height: 380px;
    border-radius: 50px;
  }
  .card-header {
    font-size: 18px;
    margin: 5px 0 0 5px;
  }
  .card-summary {
    font-size: 14px;
    margin: 2px;
    text-align: center;
  }
  .card-tech {
    margin: 5px;
  }
  .card-links {
    left: 20%;
  }
  .card-links i {
    font-size: 24px;
    transition: all 0.2s ease-in-out;
  }
}
