@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Gloock", serif;
}
h1,
h3,
section,
p,
span,
svg {
  transition: background-color 0.2s ease-in-out, color 0.4s ease-in-out;
}

:root {
  --color-text-light: #f7f7f2;
  --color-text-dark: #034b46;
  --color-text-black: rgb(15, 14, 14);
}

.light-theme {
  background-color: #fff;
  --color-background: rgb(252, 250, 250);
  --color-text: #f7f7f2;
  --color-p: #034b46;
}

.dark-theme {
  background-color: black;
  --color-background: rgba(43, 41, 41, 0.978);
  --color-text: #0a0a0a;
  --color-p: #00c5b8;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
h1 {
  letter-spacing: 0.8rem;
}
p,
h3 {
  letter-spacing: 0.1rem;
}

/* Three Model  --------------------------------------------*/

.threeModel {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.threeModel-canvas {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

/* Page ---------------------------------------------------- */
.page {
  z-index: 9999999999;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.page-wrapper {
  position: relative;
}

/* Preloader ---------------------------------------------------- */

.preloader {
  background-color: #ebe9d6;
  width: 100%;
  height: 100vh;
  opacity: 1;
  position: fixed;
  z-index: 9999999;
}
.preloader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px;
  background-color: var(--color-text-dark);
  animation: load 1s ease-in-out infinite;
}
.circle:nth-child(2) {
  animation-delay: 0.15s;
}
.circle:nth-child(3) {
  animation-delay: 0.25s;
}

@keyframes load {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-12px);
  }
  40% {
    transform: translateY(0);
  }
}

/* Intro ---------------------------------------------------- */

.animate-this {
  display: inline-block;
  transform: translateY(100%);
}

.text-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  position: absolute;
  color: var(--color-text-dark);
  top: 50%;
  left: 50%;
  font-weight: 500;
  font-size: 16px;
  transform: translate(-50%, -50%);
}

.arrow-svg-wrapper {
  position: absolute;
  /* color: var(--color-text-light); */
  border: none;
  background-color: transparent;
  color: black;
  top: 90%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation: bounce 0.5s ease-in alternate infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(8px);
  }
}

/* Section ---------------------------------------------------- */

.section {
  height: 100vh;
  width: 100%;
  position: relative;
}
.section-first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.arrow-svg-wrapper-up {
  position: absolute;
  /* color: var(--color-text-light); */
  border: none;
  background-color: transparent;
  color: black;
  top: 90%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: transform 0.4s ease-in-out;
}
.arrow-svg-wrapper-up:hover {
  cursor: pointer;
  transform: translate(-50%, -80%) scale(1.2);
}

.title-main {
  font-size: 18rem;
  color: var(--color-text);
}

.firstLine {
  width: 430px;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  transform: translateY(100%);
  opacity: 0;
}
.secondLine {
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  transform: translateY(100%);
  opacity: 0;
}

.title-sub {
  font-size: 2rem;
  color: var(--color-p);
  position: absolute;
  top: 50%;
  left: 11%;
  text-decoration: underline;
  font-weight: 700;
  opacity: 0;
}

/* Section 2---------------------------------------------------- */
.title-main-second {
  font-size: 9rem;
  color: var(--color-text);
  text-align: center;
  margin: 50px 0;
  opacity: 0;
  transform: translateX(-50%);
}
.title3 {
  margin: 30px 0;
}

.second-title {
  margin: 100px 500px 100px 50px;
  transform: translateX(-50);
  opacity: 0;
}
.title-sub-second {
  text-align: center;
  font-size: 3rem;
  color: var(--color-p);
}

/* Toggle ---------------------------------------------------- */

.toggle-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 48px;
  right: 48px;
  opacity: 0;
  z-index: 999;
}

.sun-wrapper,
.moon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toggle-button {
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-text-light);
  border-radius: 999px;
  margin: 0px 8px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toggle-circle {
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-text-dark);
  transition: all 0.3s ease-in-out;
}

.toggle-button:hover .toggle-circle {
  transform: scale(0.8);
}

.slide {
  left: 30px;
}

.svg-toggle {
  color: var(--color-text);
}

/* Cards ---------------------------------------------------- */
.container {
  overflow: hidden;
}

.card-carousel {
  --card-width: 80%;
  --card-max-width: 380px;
  --card-height: 520px;
  --carousel-min-width: 600px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  opacity: 0;
  transform: translateX(50%);
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter 0.5s ease;
}

@media screen and (max-width: 640px) {
  .card-carousel {
    margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2);
  }
}

.card-carousel.smooth-return {
  transition: all 0.2s ease;
}

.card {
  position: absolute;
  width: 380px;
  height: 500px;
  border-radius: 100px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.342);
  overflow: hidden;
  transition: inherit;
  filter: brightness(0.8);
  margin: 0 auto;
  background-color: var(--color-background);
  font-family: sans-serif;
}
.card.highlight {
  filter: brightness(1);
}
.card-content {
  color: var(--color-p);
}
.card-top {
  position: relative;
  height: 55%;
}

.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;
}

.card-img img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.card-img img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

.card-img:hover img:first-child {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

.card-img:hover img:last-child {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

.card-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
  font-size: 30px;
  color: var(--color-text);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.card:hover .card-hover {
  opacity: 1;
}

.card-header {
  font-size: 28px;
  margin: 10px 0 0 10px;
}
.card-summary {
  font-size: 18px;
  margin: 10px;
  text-align: justify;
}

.card-tech {
  margin: 10px;
}

.card-tech ul {
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
}

.card-tech li {
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
  border-radius: 25px;
  background-color: var(--color-p);
  color: var(--color-text);
  font-size: 12px;
}
.card-links {
  position: absolute;
  top: 85%;
  left: 30%;
  transform: translateX(-10%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 50px;
}

.card-links a {
  margin: 10px;
  display: inline-block;
  color: var(--color-p);
}

.card-links a:hover {
  filter: brightness(2);
}
.card-links i {
  font-size: 32px;
}

/* Media Queries ---------------------------------------------------- */
@media (max-width: 599px) {
  .title {
    color: #c7c22e;
  }
}
